<div class="container-fluid">
    <div class="row">
        <div class="container p-5">
            <div class="row">
                <div class="col-md">
                    <a class="btn btn-success" routerLink="/dev/create">Create new Dev</a>
                </div>
                <div class="col-md"><p></p></div>
            </div>
        </div>
    </div>
    <div class="row bg-light">
        <div class="container p-5">
            <div class="panel panel-default">
                <div class="panel-heading">Devs</div>

                <table class="table p-3 shadow rounded bg-white">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>GitHub</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dev of (devs | slice: 0:5); index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ dev.name }}</td>
                            <td>
                                <a href="{{dev.gihub}}" target="_blank">{{ dev.github }}</a>
                            </td>
                            <td>
                                <a
                                    class="btn btn-sm btn-warning"
                                    [routerLink]="['/dev/edit', dev._id]"
                                >
                                    Edit
                                </a>
                            </td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-sm btn-danger"
                                    (click)="delete(dev._id, i)"
                                >
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container p-5">
            <div class="row">
                <div class="col-md p-5 align-self-center">
                    <p class="lead text-center">
                        Click on the <b>Create new Dev</b> button to create a new dev on the
                        application.
                    </p>
                </div>
                <div class="col-md p-5 align-self-center">
                    <p class="text-justify">
                        The above table presents all the devs stored in our presented mLab
                        (MongoDb). The <b><code>edit</code></b> button routes to an edit form to
                        edit the details of devs. <br /><br />
                        The <b><code>delete</code></b> button deletes a dev permenantly from the
                        database. The <b>ObjectID</b> of the dev is used to query and delete from
                        the database. <br /><br />
                        <i>
                            All given data tables are limited to 5 rows. You can change it by
                            deleting the following code segment from applied ng-repeats.
                        </i>
                    </p>
                    <p class="lead text-center">&lt; | slice:0:5; &gt;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row my-5">
                <div class="col-md">
                    <a
                        class="px-3 mx-2"
                        href="https://github.com/athiththan11/MEAN-Stack-ng7"
                        target="_blank"
                    >
                        <svg
                            width="30"
                            height="30"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <use xlink:href="node/feather-icons/dist/feather-sprite.svg#github" />
                        </svg>
                        Github Repo
                    </a>
                    <a class="px-3 mx-2" href="https://github.com/athiththan11" target="_blank">
                        <img
                            src="https://avatars3.githubusercontent.com/u/29927177?s=460&v=4"
                            class="rounded"
                            alt="athiththan11"
                            style="width: 40px; height: 40px; border-radius: 40px !important;"
                        />
                        Athiththan
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
